Repository vintlike/ims-react-ts-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint:style

.lintstagedrc:

{
  "src/**/*.{ts,tsx,vue,js,jsx}": [
    "npm run lint",
    "prettier --write",
    "git add"
  ],
  "src/**/*.{css,less,scss,sass,vue}": ["npm run lint:style", "git add"]
}

Create aaa.ts
  src/aaa.ts
Due: npm run lint, prettier --write

Create bbb.md
  src/bbb.md
Due: none

feat: 增加antd L7高德和百度地图
  .eslintrc.cjs
  .gitignore
  .npmrc
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.tsx
  src/pages/Map/MapBaidu.tsx
  src/pages/Map/MapConfig.ts
  src/pages/Map/MapGaode.tsx
  src/pages/Map/MapStyle.ts
  src/pages/Map/MapUtil.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npm run lint, prettier --write

perf: 优化地图
  .eslintrc.cjs
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/css/app.less
  src/components/CommonForm.tsx
  src/main.tsx
  src/pages/Map/AMapAdapter.tsx
  src/pages/Map/BMapAdapter.tsx
  src/pages/Map/MapAdapter.tsx
  src/pages/Map/MapBaidu.tsx
  src/pages/Map/MapConfig.ts
  src/pages/Map/MapForm.tsx
  src/pages/Map/MapGaode.tsx
  src/pages/Map/MapStyle.ts
  src/pages/Map/MapUtil.ts
  src/pages/Map/SceneController.ts
  src/pages/Map/lib/SceneService.ts
Due: npm run lint, prettier --write, npm run lint:style

perf: 优化
  index.html
  package.json
  src/App.tsx
  src/assets/css/reset.less
  src/global.less
  src/vite-env.d.ts
  tsconfig.json
Due: npm run lint, prettier --write, npm run lint:style
